<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mad_pet_doctor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Madpetdoctor">
        <activity
            android:name=".DeleteUserActivity"
            android:exported="true" />
        <activity
            android:name=".CilentProfileViewActivity"
            android:exported="true" />
        <activity android:name=".ClientProfile" />
        <activity android:name=".UpdateScheduleActivity" />
        <activity android:name=".MedicalProfActivity" />
        <activity android:name=".PetBookFormActivity" />
        <activity android:name=".EnterScheduleActivity" />
        <activity android:name=".AppointmentsActivity" />
        <activity android:name=".DoctorProfile" />
        <activity android:name=".BookingConfirmationActivity" />
        <activity android:name=".ContactUsActivity" />
        <activity android:name=".UserListActivity" />
        <activity android:name=".DoctorListActivity" />
        <activity android:name=".MedicalCenterList" />
        <activity android:name=".AppointmentDetailsActivity" />
        <activity android:name=".MedicalProfileUserActivity" />
        <activity android:name=".CardPayActivity" />
        <activity
            android:name=".MedicalCenterDialogActivity"
            android:exported="true" />

        <activity android:name=".NewUpdateActivity">

        </activity>
        <activity android:name=".ScheduleApprovalsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>



        <activity android:name=".MedCenterDailyReportActivity">

        </activity>





        <activity android:name=".DailyReportsActivity">

        </activity>


        <activity
            android:name=".MedicalCenterListDetailActivity"
            android:exported="true" />
        <activity
            android:name=".DoctorListDetailActivity"
            android:exported="true" />
        <activity
            android:name=".UserListDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".ResetPasswordEmailActivity"
            android:exported="true" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ChangePasswordActivity" />
        <activity android:name=".CreateAccount" />
        <activity android:name=".AdminHome" />


        <activity android:name=".AuthActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>